@import "../../styles/constants";

@import "../../styles/mixins";

.agency {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  margin: $agency-top-margin $wrapper-margin 0 $wrapper-margin;
  grid-column-gap: 127px;
  grid-row-gap: 125px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1;

    &_suffix {
      padding: 10px 21px 7px 19px;
      font-size: 18px;
      line-height: 13px;
      background-color: $accent-color;
      text-transform: uppercase;
      font-weight: bold;
    }

    &_title {
      width: max-content;
      margin: 0;
      padding: 22px 36px;
      font-size: 48px;
      line-height: 35px;
      letter-spacing: normal;
      border: solid 10px $main-font-color;
      text-transform: uppercase;
      font-weight: bold;
    }

    &_desc {
      max-width: 537px;

      @include description;
    }
  }

  &_image {
    grid-column: 1;
    grid-row: 2;
    width: 458px;
    height: 400px;
    object-fit: cover;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 2;
    grid-row: 2;

    &_title {

      @include title;
      margin: 28px 0;
    }

    &_desc {
      margin: 14px 0 28px 0;
      text-align: left;

      @include description($line-height: 1.88);
    }

    &_button {
      align-self: flex-end;
      margin: 0;

      @include button;
    }
  }
}
