<section class="agency">
  <div class="agency__header">
    <span class="agency__header_suffix">we're</span>
    <h1 class="agency__header_title">creative agency</h1>
    <p class="agency__header_desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <img class="agency_image" src="../../assets/images/chair1.png" alt="chair" />
  <div class="agency__about">
    <h2 class="agency__about_title">history of agency</h2>
    <p class="agency__about_desc">
      Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore
      et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
      quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi modi tempora incidunt ut labore.
    </p>
    <button class="agency__about_button">read more</button>
  </div>
</section>
