<section class="choose">
  <div class="choose__header">
    <h2 class="choose__header_title">why choose us</h2>
    <p class="choose__header_desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="choose__options">
    <img
      class="choose__options_icon"
      src="../../assets/icons/infinite-outline.svg"
      alt="infinite"
    />
    <h3 class="choose__options_title">unlimited options</h3>
    <ul class="choose__options_list">
      <li>Branding</li>
      <li>Design & Copywriting</li>
      <li>Concept development</li>
      <li>User Experience</li>
    </ul>
  </div>

  <div class="choose__options">
    <img
      class="choose__options_icon"
      src="../../assets/icons/shuffle-outline.svg"
      alt="cart"
    />
    <h3 class="choose__options_title">DESIGN & DEVELOPMENT</h3>
    <ul class="choose__options_list">
      <li>Information architecture</li>
      <li>Interface design</li>
      <li>Product Design</li>
      <li>Integrated ad Companies</li>
    </ul>
  </div>
  <div class="choose__options">
    <img
      class="choose__options_icon"
      src="../../assets/icons/cart-outline.svg"
      alt="cart"
    />
    <h3 class="choose__options_title">e-commerce</h3>
    <ul class="choose__options_list">
      <li>Prototyping</li>
      <li>Technical Consulting</li>
      <li>Web applications</li>
      <li>Quality testing</li>
    </ul>
  </div>
  <div class="choose__options">
    <img
      class="choose__options_icon"
      src="../../assets/icons/options-outline.svg"
      alt="cart"
    />
    <h3 class="choose__options_title">CUSTOMIZABLE DESIGN</h3>
    <ul class="choose__options_list">
      <li>Information architecture</li>
      <li>Interface design</li>
      <li>Product Design</li>
      <li>Integrated ad Companies</li>
    </ul>
  </div>

  <img class="choose_image" src="../../assets/images/chair2.png" alt="chair" />
</section>
