<section class="portfolio">
  <div class="portfolio__header">
    <a name="portfolio"></a>
    <h2 class="portfolio__header_title">our portfolio</h2>
    <p class="portfolio__header_desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="portfolio__category">
    <a name="blog"></a>
    <h3 class="portfolio__category_title">choose category</h3>
    <ul class="portfolio__category__list">
      <li
        class="portfolio__category__list_item portfolio__category__list_item--selected"
      >
        all
      </li>
      <li class="portfolio__category__list_item">webdesign</li>
      <li class="portfolio__category__list_item">graphic design</li>
      <li class="portfolio__category__list_item">fashion</li>
      <li class="portfolio__category__list_item">logo design</li>
      <li class="portfolio__category__list_item">advertising</li>
    </ul>
  </div>
  <div class="portfolio__collage">
    <div class="portfolio__collage__column">
      <img
        src="../../assets/images/collage1.png"
        alt="collage1"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage4.png"
        alt="collage2"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage7.png"
        alt="collage3"
        class="portfolio__collage__column_picture"
      />
    </div>
    <div class="portfolio__collage__column">
      <img
        src="../../assets/images/collage2.png"
        alt="collage4"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage5.png"
        alt="collage5"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage9.png"
        alt="collage6"
        class="portfolio__collage__column_picture"
      />
    </div>
    <div class="portfolio__collage__column">
      <img
        src="../../assets/images/collage3.png"
        alt="collage7"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage6.png"
        alt="collage8"
        class="portfolio__collage__column_picture"
      />
      <img
        src="../../assets/images/collage8.png"
        alt="collage9"
        class="portfolio__collage__column_picture"
      />
    </div>
  </div>
</section>
