$accent-color: #7beec7;
$accent-color-filter: invert(86%) sepia(8%) saturate(1962%) hue-rotate(102deg)
  brightness(103%) contrast(87%);
$main-font-color-filter: invert(38%) sepia(7%) saturate(729%) hue-rotate(202deg)
  brightness(94%) contrast(89%);
$social-media-color-filter: invert(72%) sepia(8%) saturate(10%)
  hue-rotate(338deg) brightness(83%) contrast(93%);
$main-font-color: #60606e;
$alternate-font-color: #9a9a9a;
$social-media-color: #999999;
$button-font-color: white;
$background-color: white;
$input-text-color: #cdcdcd;

$wrapper-margin: 80px;
$header-top-margin: 43px;
$agency-top-margin: 167px;
