$accent-color: #7beec7;
$accent-color-filter: invert(86%) sepia(8%) saturate(1962%) hue-rotate(102deg)
  brightness(103%) contrast(87%);
$main-font-color: #60606e;
$alternate-font-color: #9a9a9a;
$social-media-color: #999999;

$wrapper-margin: 79px;
$header-top-margin: 43px;
$agency-top-margin: 168px;
