@import "constants";

@mixin hovered-svg {
  cursor: pointer;

  &:hover {
    filter: $accent-color-filter;
    transition: filter 0.3s ease;
  }
}

@mixin button($width: 165px, $invert: false) {
  $color: $button-font-color;
  $background: $accent-color;
  $color-hover: $color;
  $background-hover: darken($background, 10%);

  @if $invert {
    $color: $accent-color;
    $background: $button-font-color;
    $color-hover: darken($color, 10%);
    $background-hover: $background;
  }
  width: $width;
  height: 50px;
  font-size: 14px;
  color: $color;
  background-color: $background;
  border: 0;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $color-hover;
    background-color: $background-hover;

    transition: color 0.3s ease, background-color 0.3s ease;
  }
}

@mixin title {
  position: relative;
  width: max-content;
  font-size: 30px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: bold;

  &::before {
    position: absolute;
    top: 23px;
    left: 1px;
    z-index: -1;
    width: 67px;
    height: 21px;
    background-color: $accent-color;
    content: "";
  }
}

@mixin description($font-size: 16px, $line-height: 1.5) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: "OpenSans", sans-serif;
}
