@import "normalize.css";
@import "constants";
@import "fonts";

.app {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #60606e;
}
