@import "../../styles/constants";

@import "../../styles/mixins";

.header {

  a {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: $header-top-margin $wrapper-margin 0 $wrapper-margin;

    &_logo,
    &_burger {

      @include hovered-svg;
    }

    &_burger {
      outline: none;
      transition: transform 0.3s ease, filter 0.3s ease;
      transform: rotateY(0deg);

      &:focus {
        transition: transform 0.3s ease, filter 0.3s ease;
        transform: rotateY(360deg);
        filter: $accent-color-filter;
      }
    }
  }

  @media screen and (max-width: 750px) {

    &__container {
      margin-right: $wrapper-margin-medium;

      margin-left: $wrapper-margin-medium;
    }

  }

  @media screen and (max-width: 414px) { 

    &__container {
    margin-top: 20px;
    margin-right: $wrapper-margin-small;

    margin-left: $wrapper-margin-small;
    }
  }
}
