@import "../../styles/constants";

@import "../../styles/mixins";

.header {

  a {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: $header-top-margin $wrapper-margin 0 $wrapper-margin;

    &_logo,
    &_burger {

      @include hovered-svg;
    }
  }
}
