<section class="contactus">
  <div class="contactus__touch">
    <h2 class="contactus__touch_title">
      YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
    </h2>
    <button class="contactus__touch_button">get in touch</button>
  </div>
  <div class="contactus__newsletter">
    <h2 class="contactus__newsletter_title">
      STAY INFORMED WITH OUR NEWSLETTER
    </h2>
    <p class="contactus__newsletter_desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <form class="contactus__newsletter__submit">
      <input
        placeholder="your email"
        type="email"
        class="contactus__newsletter__submit_input"
      />

      <input
        type="submit"
        value="SEND"
        class="contactus__newsletter__submit_button"
      />
    </form>
  </div>
</section>
