<footer class="footer">
  <ul class="footer__menu">
    <li class="footer__menu_item"><a href="#home">Home</a></li>
    <li class="footer__menu_item"><a href="#about">about us</a></li>
    <li class="footer__menu_item"><a href="#services">services</a></li>
    <li class="footer__menu_item"><a href="#portfolio">portfolio</a></li>
    <li class="footer__menu_item"><a href="#blog">blog</a></li>
    <li class="footer__menu_item"><a href="#contact">contact us</a></li>
  </ul>
  <div class="footer__right">
    <p class="footer__right_copyright">
      Created by akhouad 2016. All Rights Reserved
    </p>
    <div class="footer__right__social">
      <img
        class="footer__right__social_item"
        src="../../assets/icons/logo-facebook.svg"
        alt="facebook"
      />
      <img
        class="footer__right__social_item"
        src="../../assets/icons/logo-twitter.svg"
        alt="twitter"
      />
      <img
        class="footer__right__social_item"
        src="../../assets/icons/logo-youtube.svg"
        alt="youtube"
      />
      <img
        class="footer__right__social_item"
        src="../../assets/icons/logo-linkedin.svg"
        alt="linkedin"
      />
      <img
        class="footer__right__social_item"
        src="../../assets/icons/logo-pinterest.svg"
        alt="pinterest"
      />
    </div>
  </div>
</footer>
