@import "../../styles/constants";

@import "../../styles/mixins";

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 32px $wrapper-margin 50px $wrapper-margin;

  &__menu {
    display: flex;
    padding: 0;
    text-transform: uppercase;

    @include description($font-size: 14px);

    &_item {
      display: inline;
      align-self: flex-start;

      a {

        &:hover {
          color: darken($accent-color, 10%);
          transition: color 0.3s ease;
        }
        color: $alternate-font-color;
        text-decoration: none;
      }

      &::after {
        padding: 0 15px;
        content: "-";
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;

    &_copyright {
      align-self: flex-end;
      margin-bottom: 23px;
      letter-spacing: 0.1px;
      color: $alternate-font-color;
      text-transform: uppercase;

      @include description($font-size: 13px, $line-height: 1.7);
    }

    &__social {
      align-self: flex-end;

      &_item {
        height: 16px;
        filter: $social-media-color-filter;

        &:not(&:last-child) {
          padding-right: 12px;
        }

        @include hovered-svg;
      }
    }
  }
}
